STM32CubeMonitor/H07R3.json
[{"id":"ba98398f.756b78","type":"tab","label":"Audio Speaker","disabled":false,"info":"# Advanced Flow of STM32CubeMonitor to highlight possibilities"},{"id":"5c1920a5.3dc57","type":"acquisition out","z":"ba98398f.756b78","name":"myProbe_Out2","probeconfig":"d9a6039e.00014","x":800,"y":200,"wires":[]},{"id":"b6c10985.bb58f8","type":"ui_dropdown","z":"ba98398f.756b78","name":"","label":"Commands","tooltip":"","place":"Select option","group":"206888.428c5778","order":2,"width":17,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Play Sine","value":"=362(Play ","type":"str"},{"label":"Play Wave","value":"=452(Play ","type":"str"}],"payload":"","topic":"","x":170,"y":120,"wires":[["26f92f45.fa31f","bd4c1bf0.444758"]]},{"id":"db1d6abe.ce0f48","type":"template","z":"ba98398f.756b78","name":"currentCharacter address","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \n\n   \"variablelist\": [\n       {\n\n           \"address\": \"0x20000005\",\n\n           \"type\": 1,\n\n           \"value\": \"{{payload}}\"\n\n       }\n\n   ],\n\n   \"accesspoint\": 0\n\n}","output":"json","x":710,"y":160,"wires":[["da0ba7f4.87a9f8"]]},{"id":"18aef6c0.f7de19","type":"function","z":"ba98398f.756b78","name":"","func":"m = msg.payload\no = m.charCodeAt(0);\n\nreturn {payload:o}","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["16d0ca5.01cb136"]]},{"id":"38959bf7.143704","type":"split","z":"ba98398f.756b78","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":470,"y":120,"wires":[["18aef6c0.f7de19"]]},{"id":"da0ba7f4.87a9f8","type":"change","z":"ba98398f.756b78","name":"msg 1","rules":[{"t":"set","p":"topic","pt":"msg","to":"write","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":200,"wires":[["5c1920a5.3dc57"]]},{"id":"b94d133f.06011","type":"ui_dropdown","z":"ba98398f.756b78","name":"","label":"Waves","tooltip":"","place":"Select option","group":"c37653ae.c1f1a","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"howareyou","value":"howareyou","type":"str"},{"label":"hithere","value":"hithere","type":"str"}],"payload":"","topic":"","x":150,"y":160,"wires":[["fde0b00f.4e2f2"]]},{"id":"fde0b00f.4e2f2","type":"function","z":"ba98398f.756b78","name":"","func":"var s=\"#4\"+msg.payload+\"()\";\nlet y= function(str){\n    return [...str]\n}\nmsg.payload=y(s);\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["38959bf7.143704"]]},{"id":"247f7d76.dce1c2","type":"ui_slider","z":"ba98398f.756b78","name":"","label":"Frequency","tooltip":"","group":"f2325b6a.bc9088","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"10000","step":"1000","x":170,"y":200,"wires":[["1795b243.11410e"]]},{"id":"1795b243.11410e","type":"function","z":"ba98398f.756b78","name":"","func":"var s=\"#4\"+msg.payload+\" \";\nlet y= function(str){\n    return [...str]\n}\nmsg.payload=y(s);\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["38959bf7.143704"]]},{"id":"2732cf34.c380d","type":"ui_text_input","z":"ba98398f.756b78","name":"","label":"Timeout","tooltip":"","group":"f2325b6a.bc9088","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":160,"y":320,"wires":[["2cfb275f.c65438"]]},{"id":"2cfb275f.c65438","type":"function","z":"ba98398f.756b78","name":"","func":"var s=\"#5\"+msg.payload+\"()\";\nlet y= function(str){\n    return [...str]\n}\nmsg.payload=y(s);\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":320,"wires":[["38959bf7.143704"]]},{"id":"51a5730.5ce4e8c","type":"ui_button","z":"ba98398f.756b78","name":"","group":"206888.428c5778","order":3,"width":3,"height":1,"passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":150,"y":360,"wires":[["693234d9.f8d31c"]]},{"id":"693234d9.f8d31c","type":"template","z":"ba98398f.756b78","name":"flag address","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \n\n   \"variablelist\": [\n       {\n\n           \"address\": \"0x20000004\",\n\n           \"type\": 1,\n\n           \"value\": \"{{payload}}\"\n\n       }\n\n   ],\n\n   \"accesspoint\": 0\n\n}","output":"json","x":330,"y":360,"wires":[["da0ba7f4.87a9f8"]]},{"id":"92af08af.849e78","type":"ui_button","z":"ba98398f.756b78","name":"","group":"f2325b6a.bc9088","order":1,"width":0,"height":0,"passthru":false,"label":"Sine","tooltip":"","color":"","bgcolor":"","icon":"","payload":"sine","payloadType":"str","topic":"","x":150,"y":240,"wires":[["fa73ebad.389828"]]},{"id":"450bcc6b.b31934","type":"ui_button","z":"ba98398f.756b78","name":"","group":"c37653ae.c1f1a","order":1,"width":0,"height":0,"passthru":false,"label":"Wave","tooltip":"","color":"","bgcolor":"","icon":"","payload":"wave","payloadType":"str","topic":"","x":150,"y":280,"wires":[["fa73ebad.389828"]]},{"id":"fa73ebad.389828","type":"function","z":"ba98398f.756b78","name":"","func":"var s=\"#3\"+msg.payload+\" \";\nlet y= function(str){\n    return [...str]\n}\nmsg.payload=y(s);\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["38959bf7.143704"]]},{"id":"26f92f45.fa31f","type":"function","z":"ba98398f.756b78","name":"","func":"if (msg.payload == \"=362(Play \" ) {\n    msg.payload = {\"group\":{\"hide\":[\"Audio_Speaker_Waves\"],\"show\":[\"Audio_Speaker_Sine\"]}};\n    return msg;\n}\n\nif (msg.payload == \"=452(Play \" ) {\n    msg.payload = {\"group\":{\"hide\":[\"Audio_Speaker_Sine\"],\"show\":[\"Audio_Speaker_Waves\"]}};\n    return msg;\n}\n\nreturn null;\n\n","outputs":1,"noerr":0,"x":310,"y":80,"wires":[["14b86c6c.eb08c4"]]},{"id":"14b86c6c.eb08c4","type":"ui_ui_control","z":"ba98398f.756b78","name":"","events":"connect","x":440,"y":80,"wires":[[]]},{"id":"16d0ca5.01cb136","type":"change","z":"ba98398f.756b78","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"40","fromt":"num","to":"13","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"41","fromt":"num","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":120,"wires":[["2f600583.1c2f5a"]]},{"id":"2f600583.1c2f5a","type":"delay","z":"ba98398f.756b78","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.001","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":910,"y":120,"wires":[["db1d6abe.ce0f48"]]},{"id":"bd4c1bf0.444758","type":"function","z":"ba98398f.756b78","name":"","func":"var s=msg.payload;\nlet y= function(str){\n    return [...str]\n}\nmsg.payload=y(s);\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["38959bf7.143704"]]},{"id":"bd9daccb.cfa28","type":"ui_button","z":"ba98398f.756b78","name":"","group":"206888.428c5778","order":1,"width":20,"height":1,"passthru":false,"label":"START","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":160,"y":400,"wires":[["ae95e206.e6044"]]},{"id":"ae95e206.e6044","type":"template","z":"ba98398f.756b78","name":"time address","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \n\n   \"variablelist\": [\n       {\n\n           \"address\": \"0x20000000\",\n\n           \"type\": 5,\n\n           \"value\": \"{{payload}}\"\n\n       }\n\n   ],\n\n   \"accesspoint\": 0\n\n}","output":"json","x":330,"y":400,"wires":[["da0ba7f4.87a9f8"]]},{"id":"d9a6039e.00014","type":"probe","z":"","probeid":"066CFF495051717867163114","probename":"ST-Link v2-1B (...63114)","protocol":"SWD","frequency":"1.8 MHz - Default","probeproperty":"{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}","probeversion":"ST Link firmware version V2.J37","connectionType":"p2p"},{"id":"206888.428c5778","type":"ui_group","z":"","name":"Audio Speaker","tab":"fb4eb899.908508","order":1,"disp":true,"width":"20","collapse":false},{"id":"c37653ae.c1f1a","type":"ui_group","z":"","name":"Waves","tab":"fb4eb899.908508","order":3,"disp":true,"width":20,"collapse":false},{"id":"f2325b6a.bc9088","type":"ui_group","z":"","name":"Sine","tab":"fb4eb899.908508","order":2,"disp":true,"width":20,"collapse":false},{"id":"fb4eb899.908508","type":"ui_tab","z":"","name":"Audio Speaker","icon":"dashboard","disabled":false,"hidden":false}]